body{
  background: #000;
}
/* .qimage image{
width: 80px;
height: 80px;
margin: 216px 188px 216px 578px;
} */
/* .main-text h1{
  width: 210px;
  margin: 200px 200px 216px 500px;
 color:rgba(255, 255, 255, 1);
 font-family:'Times New Roman', Times, serif;
} */
/* .second-text h1{
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
   line-height: 116%; 
   letter-spacing: 0.54px; 
} */
/* .button-div button{
  border-radius: 12px;
border: 1px solid #B2B2B2;
background: rgba(255, 205, 41, 1);
color: rgb(0, 0, 0);
font-size: large;
margin-left: 550px;
width: 198px;
height: 71px;
} */
/* .text p{
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.198px;
} */